@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');


*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Figtree", sans-serif;
    background-color:hsl(47, 88%, 63%) ;
}

.card{
    background-color: hsl(0, 0%, 100%) ;
    width: fit-content;
    height: fit-content;
    padding: 25px;
    display: flex;
    flex-direction: column;

    gap: 20px;
    border-radius: 20px;
    border: 1px solid #000;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
}

.image_1{
    width: 350px;
    border-radius: 20px;
}
.paragraph{
    color: hsl(0, 0%, 50%);
    width: 350px;
    line-height: 1.5;
    font-size: 16px;
}

.image_2{
width: 35px;
}

.down{
    display: flex;
    align-items: center;

    gap: 20px;
}

.cont{

    background-color: hsl(47, 88%, 63%);
    width: fit-content;
    padding: 7px;
    border-radius: 5px;
}